terraform/.terraform
terraform/.terraform.lock.hcl
terraform/key.json
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/variable.tf
ansible/roles/prometeus_alert/files/.alert-bot
.env
ansible/roles/srv/files/.env
!del
server01
edit.txt
my_django/.gitignore
my_django/config